<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Hola!</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div id="vue01">   
        <!-- loop array v-for="ตัวแปรที่กำหนดค่า จาก ตัวแปร" แล้วนำตัวแปรที่กำหนดใหม่มาแสดง-->
        Array 1 มิติ<p v-for="array in data_array">{{array}}</p><!-- array 1 มิติ -->
        <hr>
        Array 2 มิติ<p v-for="array2 in data2">{{array2}}</p><!-- array 2 มิติ -->
        <!-- Array 2 มิติ ออกมาเป็น { "name": "aurora", "edu": { "university": "มช" }, "age": 24, "job": "singer" } -->
        <!-- ถ้าจะเรียกตามkeyที่ค่าname ให้เรียก array2.name ได้ -->
        
    </div>
    <script src="app.js" charset="utf-8"></script>
</body>
</html>