<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Hola!</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div id="vue01">   
        <!-- 2 way data binding / radio-->
        กินไรดี <br>
        <input type="radio" v-model="dinner" value="ชาบู"> ชาบู
        <input type="radio" v-model="dinner" value="หมูกระทะ"> หมูกระทะ 
        <hr>
        กิน {{dinner}}
    </div>
    <script src="app.js" charset="utf-8"></script>
</body>
</html>